In [27]:
#Introducing Pandas Libraries to the Notebook
import pandas as pd

In [28]:
#Loading the Aviation Data File as a Pandas DataFrame
#Assigned to a variable
avdf = pd.read_csv("AviationData.csv", encoding="ISO-8859-1", low_memory=False)

In [29]:
#Looking at the basic features of the DataFrame
#Rows,Columns,Data Types,Missing Values
avdf.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [30]:
avdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [31]:
#The data has 88889 rows and 31 columns
avdf.shape

(88889, 31)

In [32]:
#Checking for missing values
avdf.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38757
Airport.Name              36185
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1382
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7096
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6384
Publication.Date          13771
dtype: int64

In [33]:
#Dropping rows with missing values is not recommended since every row will be removed.
avdf.dropna()

Empty DataFrame
Columns: [Event.Id, Investigation.Type, Accident.Number, Event.Date, Location, Country, Latitude, Longitude, Airport.Code, Airport.Name, Injury.Severity, Aircraft.damage, Aircraft.Category, Registration.Number, Make, Model, Amateur.Built, Number.of.Engines, Engine.Type, FAR.Description, Schedule, Purpose.of.flight, Air.carrier, Total.Fatal.Injuries, Total.Serious.Injuries, Total.Minor.Injuries, Total.Uninjured, Weather.Condition, Broad.phase.of.flight, Report.Status, Publication.Date]
Index: []

[0 rows x 31 columns]

In [34]:
#Checking for duplicates
avdf.duplicated().sum()
#There are no duplicates in the DataFrame

0

In [35]:
#Dropping rows with missing values in certain columns because they lack essential data
avdf = avdf.dropna(subset=['Publication.Date', 'Report.Status','Total.Fatal.Injuries','Total.Serious.Injuries','Total.Minor.Injuries','Total.Uninjured'])

In [36]:
#The essential columns now contain actual values.
avdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 55570 entries, 1 to 88767
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                55570 non-null  object
 1   Investigation.Type      55570 non-null  object
 2   Accident.Number         55570 non-null  object
 3   Event.Date              55570 non-null  object
 4   Location                55542 non-null  object
 5   Country                 55413 non-null  object
 6   Latitude                18629 non-null  object
 7   Longitude               18629 non-null  object
 8   Airport.Code            32779 non-null  object
 9   Airport.Name            34368 non-null  object
 10  Injury.Severity         55479 non-null  object
 11  Aircraft.damage         54192 non-null  object
 12  Aircraft.Category       22254 non-null  object
 13  Registration.Number     55331 non-null  object
 14  Make                    55552 non-null  object
 15  Model                   55539 non-null  object
 16  Amateur.Built           55568 non-null  object
 17  Number.of.Engines       53846 non-null  float64
 18  Engine.Type             54759 non-null  object
 19  FAR.Description         22192 non-null  object
 20  Schedule                7435 non-null   object
 21  Purpose.of.flight       54171 non-null  object
 22  Air.carrier             12671 non-null  object
 23  Total.Fatal.Injuries    55570 non-null  float64
 24  Total.Serious.Injuries  55570 non-null  float64
 25  Total.Minor.Injuries    55570 non-null  float64
 26  Total.Uninjured         55570 non-null  float64
 27  Weather.Condition       55320 non-null  object
 28  Broad.phase.of.flight   36148 non-null  object
 29  Report.Status           55570 non-null  object
 30  Publication.Date        55570 non-null  object
dtypes: float64(5), object(26)
memory usage: 13.6+ MB

In [37]:
#Adjusting the index after dropping some rows
avdf.reset_index(drop = False,inplace=True)

In [38]:
avdf['Model'].value_counts()

Model
152                1550
172                1219
172N                766
PA-28-140           589
150                 555
                   ...
CV-600-240D           1
T CRAFT SPECIAL       1
114TC                 1
47-GB31               1
MS-500                1
Name: count, Length: 8802, dtype: int64

In [39]:
#Finding Aircraft with Minor damage 
avdf.loc[avdf['Aircraft.damage'] == 'Minor']

,index,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
19,23,20020917X02333,Incident,LAX82IA034,1982-01-03,"VAN NUYS, CA",United States,NaN,NaN,VNY,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,Approach,Probable Cause,03-01-1983
36,40,20020917X01764,Incident,ATL82IA029,1982-01-05,"PENSACOLA, FL",United States,NaN,NaN,NaN,...,Business,NaN,0.0,0.0,0.0,1.0,VMC,Cruise,Probable Cause,05-01-1983
76,80,20020917X01765,Incident,ATL82IA034,1982-01-12,"CLARKSBURG, WV",United States,NaN,NaN,CKB,...,Unknown,Aeromech Incorporated,0.0,0.0,0.0,2.0,VMC,Taxi,Probable Cause,12-01-1983
114,119,20020917X01766,Incident,ATL82IA038,1982-01-19,"WASHINGTON, DC",United States,NaN,NaN,IAD,...,Ferry,NaN,0.0,0.0,0.0,1.0,IMC,Descent,Probable Cause,19-01-1983
126,131,20020917X02334,Incident,LAX82IA044,1982-01-20,"SAN JOSE, CA",United States,NaN,NaN,SJC,...,Executive/corporate,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,20-01-1983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55242,87597,20220329104855,Accident,CEN22LA159,2022-03-28,"Yutan, NE",United States,411446N,0962345W,NaN,...,Personal,NaN,0.0,0.0,1.0,3.0,VMC,NaN,The pilotÂ’s improper brace during landing whic...,12-08-2022
55370,87932,20220608105217,Accident,WPR22LA201,2022-06-07,"Hawthorne, CA",United States,335520N,0118203W,KHHR,...,Business,PACIFIC DENTAL SERVICES LLC,0.0,0.0,0.0,11.0,VMC,NaN,The multi-engine pilot's failure to maintain c...,02-12-2022
55480,88257,20220730105623,Accident,CEN22LA346,2022-07-28,"Oshkosh, WI",United States,043599N,0883329W,OSH,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,NaN,The failure of the pilot of N694V (RV-8) to ma...,22-09-2022
55486,88276,20220803105651,Accident,CEN22LA356,2022-07-30,"Indianola, IA",United States,5965231,0933112W,NaN,...,Personal,NaN,0.0,1.0,3.0,0.0,VMC,NaN,The pilotÂ’s failure to maintain clearance from...,23-09-2022
55545,88485,20220908105887,Accident,ERA22LA402,2022-09-07,"Millinocket, ME",United States,045556N,0684722W,NaN,...,NaN,WATERS AERO MARINE INC,0.0,1.0,1.0,1.0,VMC,NaN,The pilotÂ’s failure to maintain an appropriate...,08-12-2022

In [40]:
#Finding most safe aircraft
dt3 = avdf.loc[avdf['Aircraft.damage'] == 'Minor']
dt3.loc[dt3['Total.Serious.Injuries']== 0.0]
dt4 = dt3.loc[dt3['Total.Serious.Injuries']== 0.0]
dt4.loc[dt4['Total.Uninjured']== 0.0]
dt5 = dt4.loc[dt4['Total.Uninjured']== 0.0]
dt5.loc[dt5['Total.Minor.Injuries']== 0.0]
dt6 = dt5.loc[dt5['Total.Minor.Injuries']== 0.0]
dt7 = dt6.loc[dt6['Total.Fatal.Injuries']== 0.0]

In [41]:
#Viewing models of the 'most safe' aircraft
#most frequent model is MD-11
dt7['Model'].value_counts()

Model
MD-11                 3
1900D                 3
747-400               2
727F                  1
DC-9-51               1
A320                  1
525B                  1
787-8                 1
CRJ700                1
737-400               1
A330 - 223            1
AVRO146RJ - 100       1
BOEING MD-11          1
787                   1
MD-10-30F             1
737-800               1
DC9                   1
767 323               1
737-200               1
DC8                   1
767                   1
767 432ER             1
737-3B7               1
B747                  1
737                   1
737-2A5               1
MD-11F                1
Metro 23              1
A321-231              1
200 SUPER KING AIR    1
767-338               1
Name: count, dtype: int64

In [43]:
#Recommended make and model
#Mcdonell Douglas MD-11
dt8 = dt7.loc[dt7['Model']=='MD-11']
dt8['Make'] + dt8['Model']

32238              DouglasMD-11
32475    Mcdonnell DouglasMD-11
37431               BOEINGMD-11
dtype: object